body,html
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Sans Narrow";
}
*
{
	padding: 0;
	margin: 0;
}

.leftMenu
{
	min-width: 150pt;
	display: block;
	height: 100%;
	background: #212121;
	float: left;
	position: relative;
}
.leftMenuTitle
{
	color: #9f9f9f;
	display: block;
	text-transform: uppercase;
	text-align: center;
	padding: 6pt;
	display: relative;

}
#addProject
{
	position: absolute;
	color: #f5f5f5;
	right: -7pt;
	top: 3pt;
	font-size: 30pt;
	line-height: 19pt;
	text-align: center;
	cursor: pointer;
	background: #2196F3;
	width: 20pt;
	height: 20pt;
	border: 1pt #0D47A1 solid;
	border-radius: 20pt;
	z-index: 1000;
	-webkit-transition: transform 320ms;
}
#addProject:hover
{
	-webkit-transform: scale(1.2);
}

.leftMenuItems
{
	list-style: none;
	display: block;
}
.leftMenuItem
{
	color: #f7f7f6;
	display: block;
	padding: 12pt;
	cursor: pointer;
	position: relative;
	-webkit-transition: background 210ms, color 310ms;
}
.leftMenuItem:hover
{
	background: #424242;
	color: #EEEEEE;
}

.leftMenuItem[data-notifications]:after{
	content: attr(data-notifications);
	width: 15pt;
	height: 15pt;
	line-height: 15pt;
	border-radius: 15pt;
	text-align: center;
	display: block;
	background: #F44336;
	float: right;
	border: 1px #E57373 solid;
}
.leftMenuItem[data-notifications="0"]:after
{
	display: none;
}
.menuItemSelected
{
	background: #424242;
}
#menuItemSelector
{
	-webkit-transition: top 210ms;
	display: block;
	width: 0;
	height: 0;
	border-left: 13pt solid #424242;
	border-top: 26px solid transparent;
	border-bottom: 26px solid transparent;
	position: absolute;
	left: 100%;
	top: 0;
	visibility: hidden;
	z-index: 999;
}
.appContent
{
	width: -webkit-calc(100% - 150pt);
	height: 100%;
	float: right;
	background: #f1f1f1;
	display: block;
	position: relative;
}

.projectView
{
	visibility: hidden;
	width: 100%;
	height: 100%;
	display: block;
}
.titleRow
{
	width: 100%;
	display: block;
	padding: 7pt 7pt 7pt 21pt;
	color: #212121;
}
#changeTitle
{
	opacity: 0;
	margin-left: 7pt;
	font-family: "entypo";
	cursor: pointer;
	-webkit-transition: opacity 420ms, color 420ms;
}
.titleEdit
{
	font-size: 25pt;
	padding: 0;
	margin: 0;
	font-family: "Sans Narrow";
	background: #f5f5f5;
	width: 100%;
	outline: none;
	border: none;
	display: inline-block;

}
.titleRow:hover #changeTitle
{
	opacity: .9;
}
#changeTitle:hover
{
	color: #2979FF;
}
.titleRow:after
{
	content: ' ';
	clear: both;
	display: block;
	line-height: 1pt;
}
.titleRowLeft
{
	float: left;
	width: 80%;
	display: block;
	font-size: 25pt;
}
.titleRowRight
{
	float: right;
	display: block;
	background: red;
	width: 20%;
}

.noContent
{
	position: absolute;
	text-align: center;
	height: 30pt;
	width: 100%;
	line-height: 30pt;
	top: -webkit-calc(50% - 15pt);
	font-size: 25pt;
	color: #424242;
	opacity: 0.4;
	-webkit-animation: opacityOut 3s;
}

.tasksList
{
	width: 100%;
	display: block;
}
.addTask
{
	width: 90%;
	margin: 4pt auto;
	text-align: center;
	font-size: 14pt;
	cursor: pointer;
	-webkit-transition: color 420ms;
}
.addTask:hover
{
	color: #2979FF;
}
.addTask span
{
	font-family: "entypo";
}
.taskItem
{
	width: 90%;
	margin: 6pt auto;
	display: block;
	height: 50pt;
	border-left: 3pt solid #2979FF;
}
.taskItemLeft
{
	width: -webkit-calc(100% - 50pt);
	display: block;
	height: 100%;
	background: #424242;
	float: left;
}
.taskItemRow
{
	height: 50%;
	display: block;
}
.taskType
{
	padding: 2pt 3pt;
	margin: 4pt 2pt 4pt 7pt;
	display: inline-block;
	color: #BDBDBD;
	text-transform: uppercase;
	background: rgba(255,255,255,.15);
}
.taskTitle
{
	padding: 6pt 3pt;
	display: inline-block;
	color: #f5f5f5;
	font-size: 12pt;
}
.taskTitleEdit
{
	font-size: 12pt;
	padding: 6pt 3pt;
	display: inline-block;
	color: #f5f5f5;
	font-family: "Sans Narrow";
	border: none;
	outline: none;
	background: transparent;
	width: 70%;
}
.taskDate
{
	padding: 2pt 3pt;
	margin-left: 7pt;
	display: inline-block;
	font-size: 10pt;
	color: rgba(255,255,255, 0.4);
}
.taskItemRight
{
	display: block;
	width: 49pt;
	height: 100%;
	float: right;
}
.taskFinish
{
	width: 100%;
	height: 100%;
	background: #90CAF9;
	display: block;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	-webkit-transition: background 220ms;
}
.taskFinish:hover, .taskItem:hover .taskFinish
{
	background: #2979FF;
}
.taskFinish:hover .b1, .taskItem:hover .taskFinish .b1
{
	visibility: visible;
	-webkit-animation: b1Incoming 220ms;
}
.taskFinish:hover .b2, .taskItem:hover .taskFinish .b2
{
	visibility: visible;
	-webkit-animation: b2Incoming 220ms;
}
.b1
{
	position: absolute;
	width: 17pt;
	height: 6pt;
	display: block;
	background: white;
	top: 25pt;
	left: 3pt;
	visibility: hidden;
	-webkit-transform: rotate(45deg);
}
.b2
{
	position: absolute;
	width: 34pt;
	height: 6pt;
	display: block;
	background: white;
	top: 23pt;
	left: 12pt;
	visibility: hidden;
	-webkit-transform: rotate(-40deg);
}

.toastMessage
{
	padding: 4pt 6pt;
	background: #212121;
	color: #f5f5f5;
	opacity: 0.8;
	display: block;
	position: absolute;
	bottom: 30pt;
	text-align: center;
	border-radius: 7pt;
	left: -webkit-calc(50% - 52pt);
	z-index: 1000;
	cursor: pointer;
}

@-webkit-keyframes opacityOut
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0.4;
	}
}

@-webkit-keyframes b1Incoming
{
	from
	{
		top: -25pt;
		left: -25pt;
		width: 1pt;
	}
	to
	{
		top: 25pt;
		left: 3pt;
		width: 17pt;
	}
}
@-webkit-keyframes b2Incoming
{
	from
	{
		top: -25pt;
		left: 75pt;
		width: 1pt;
	}
	to
	{
		top: 23pt;
		left: 12pt;
		width: 34pt;
	}
}